body{
    margin: 0;
    padding: 0;

}
@font-face {
  font-family: PP mori;
  src: url(./assets/ppmori.ttf);
}

body,html{
    scroll-behavior: smooth;
}

#navbar{
  -webkit-box-shadow: inset -1px -9px 111px 68px rgba(13,3,13,1);
-moz-box-shadow: inset -1px -9px 111px 68px rgba(13,3,13,1);
box-shadow: inset -1px -9px 111px 68px rgba(13,3,13,1);
}
/* -----------------------from here css will start for the first hero page----------------------------- */
body {
    font-family: Arial, sans-serif;
  }

  body {
    transition: background-color 0.7s ease, color 0.7s ease;
}


  
  .hero-section {
    /* background-color: #f4f4f4; */
    padding: 100px 0;
    margin-top: 20px;
  }
  
  .hero-title {
    font-size: 5rem;
    margin-bottom: -15px;
  }
  
  .hero-description {
    font-size: 2.07rem;
    margin-bottom: 30px;
  }
  
  .hero-image img {
    max-width: 75%;
    transition: transform 0.3s ease-in-out;
  }
  
  #span-title{
    color: red;
  }
  


  .about-container {
    /* background-color: #fff; */
    padding: 40px;
    border-radius: 45px;
    transition: transform 0.3s ease-in-out;
    --webkit-box-shadow: -1px 5px 36px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 5px 36px -5px rgba(0,0,0,0.75);
    box-shadow: -1px 5px 36px -5px rgba(0,0,0,0.75);
    transition: transform 0.3s;
  }

  .about-container:hover {
    transform: translateY(-25px);
  }

  .button {
    background-color: #007bff;
    color: #ff0000;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    
  }

  .button:hover {
    background-color: #ea0a0a;
  }

  #learn-more{
    color:red;
    font-weight: 600;
  }


  /* -------------------------from here skills seciton ------------------------------- */



  .skill-item {
    margin-top: 5rem;
    margin-bottom: 30px;
    padding: 20px;
    border-radius: 10px;
    /* background-color: #fff; */
    -webkit-box-shadow: 1px 1px 23px 6px rgba(0, 0, 0, 0.579);
    -moz-box-shadow: 1px 1px 23px 6px rgba(0, 0, 0, 0.534);
     box-shadow: 1px 1px 23px 6px rgba(0, 0, 0, 0.541);
    transition: transform 0.3s;
    
    
  }
  

  #title2{
    margin-top: 8rem;
  }

  .skill-item:hover {
    transform: translateY(-15px);
  }

  .progress {
    height: 10px;
    border-radius: 5px;
  }


  /* --------------------------------------projects section hero---------------------------------------- */

  .projects-section {
    padding: 80px 0;
    /* background-color: #f8f9fa; */
}

.card {
    transition: transform .3s;
    margin-top: 4rem;
    
}

.card:hover {
    transform: translateY(-10px);
}

.card {
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform .3s;
}

.card:hover {
  -webkit-box-shadow: 1px 7px 37px 3px rgba(166, 52, 56, 0.681);
  -moz-box-shadow: 1px 7px 37px 3px rgba(75, 42, 43, 0.4);
  box-shadow: 1px 7px 37px 3px rgb(39, 14, 15);
  transform: translateY(-15px);
}


/* ---------------------------------hre is the discription color----------------------- */

/* #discripation{
  color:rgb(146, 146, 7);
} */




#title3{
  font-size: 4rem;
  margin-top: 5rem;
}


/* --------------------------------------here handles-------------------------------------------------- */



.social-links {
  display: flex;
  justify-content: center;
  gap: 20px;
  position: relative;
  margin-bottom: 20px;
}

.social-icon {
  display: inline-block;
  font-size: 24px;
  /* color: #333; */
  padding: 10px;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}

.social-icon:hover {
  /* background-color: rgba(0, 0, 0, 0.338); */
  /* color: #333; */
  transform: scale(1.1);
}

/* Responsive adjustments for smaller devices */
@media (max-width: 768px) {
  .social-links {
    flex-direction: row-reverse;
    align-items: center;
  }
}










#span-title1{
  color: #d1d111;
  font-weight: 350;
}

#span-title2{
  font-size: 1.06em;
  /* color: rgb(0, 0, 8); */
  font-weight: 400;
 font-family: Georgia, 'Times New Roman', Times, serif;
 letter-spacing: 0.03em;
}
#span-title3{
  text-decoration: wavy;
}
